@import "compass/css3/border-radius";


@import "scriptLoader";
@import "welcome";

body {
  font-family: Courier, courier, fixed-width;
  font-size: 12pt;
  background-color: rgba(240,242,212, 0.4);
  @media print {
    font-family: Courier, courier, fixed-width;
    font-size: 11.5pt;

    margin: 0;
  }

}


@page {
  size: letter;
  margin-left: 1.5in;
  margin-top: 0.85in;
  margin-right: 1in;
  margin-bottom: 0.5in;
  counter-increment: page;
  counter-reset: page 1;

  @top-right {
    content: "Page " counter(page); 
    
  }
}


body.modal-open {
    overflow: hidden;
}

header {
  margin: 20px auto;
  margin-bottom: -60px;
  width: 595px;
  color: #333;
  opacity: 0.25;
  font-size: 2em;
  font-weight: bold;

  @media print {
    display: none;
  }

}

footer {
  @media print {
    display: none;
  }
}

.typewriter {
  margin: 100px auto;

  @media print {
    margin: 0;
  }

  @media screen {
    width: 610px;
    -webkit-box-shadow: 0px -4px 20px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:  0px -4px 20px rgba(50, 50, 50, 0.25);
    box-shadow:       0px -4px 20px rgba(50, 50, 50, 0.25);
    padding-top:75px;
    padding-left:125px;
    padding-bottom:100px;
    padding-right:80px;
  }
  min-height: 895px;
  background-color: white;
  outline: none;
}


.loading {

  @media print {
    display: none;
  }


  background-color: rgba(240, 242, 212, 0.4);
  color: #999;
  position: fixed;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 300px;
  // @include border-radius(4px, 4px);
  border: 1px solid #eee;
}

.notifications {

  @media print {
    display: none;
  }

  position: absolute;

  font-size: 14px;
  text-align: center;
  
  width: 140px;
  padding: 5px;
  background-color: rgba(240, 242, 242, 0.8);
  // @include border-radius(4px, 4px);
  border: 1px solid #eee;
}


p {
  outline: none;
  @media print {
    -webkit-margin-before: 11.5pt;
    -webkit-margin-after: 11.5pt;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -moz-margin-before: 11.5pt;
    -moz-margin-after: 11.5pt;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    margin-before: 11.5pt;
    margin-after: 11.5pt;
    margin-start: 0px;
    margin-end: 0px;
    line-height: 11.5pt;
  }
}

.typewritter :last-child {
  @media screen {
    margin-bottom: 200px;
  }
}


.character {
  margin-left: 270px;
  text-transform: uppercase;
  margin-bottom: 0px;

  @media print {
    margin-left: 2.6in;
  }

} 


.dialog {
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 110px;
  @media print {
    margin-left: 1.5in;
    margin-right: 1in;
  }
}

.parenthetical {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 220px;
  margin-right: 250px;

  @media print {
    margin-left: 2in;
    margin-right: 2in;
  }

}

.parenthetical:after {
  content: ")"
}

.parenthetical:before {
  content: "("
}

.transition {
  text-align: right;
  text-transform: uppercase;
}

.shot {
  text-transform: uppercase;
}

.action {

}

.sceneheading {
  text-transform: uppercase;
}